#battlefield.flex-column--wrapper
  // Header
  header#status.header
    | CSS Wars!

  .flex-row--wrapper.flex-cell
    // Your CSS & Left Column
    #tactic-plan.flex-cell
      textarea( ui-codemirror, ng-model="yourCss" )

    // Center Column
    .flex-cell.fill-whole
      .flex-column--wrapper.fill-whole__element
        // Top
        .flex-row--wrapper.flex-cell
          // Left
          #tactic-plan-output.flex-cell
            | Your Result

          // Right
          #enemy-plan-output.flex-cell
            | Opponents Result

        // Bottom
        #perfect-plan.flex-cell
          | Reference

    // Right Column
    #enemy-plan.flex-cell
      | Opponents css
